@media screen and (max-width: 737px) {
  main section .content .flex {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  main section .content .content__text {
    width: 100%;
  }

  footer nav ul li.bullet {
    display: none;
  }
}
