<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Meta Tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="author" content="Juan Junger" />
    <meta name="publisher" content="JuanJunger" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="copyright" content="" />

    <!-- Facebook -->
    <meta property="og:image" content="" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="" />
    <meta property="og:locale" content="pt-br" />
    <meta property="fb:admins" content="" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:image" content="" />

    <!-- Custom stylesheets -->
    <link rel="stylesheet" href="css/fonts.css" />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/responsive.css" />

    <title>Custom Theme Boilerplate</title>
  </head>

  <body>
    <header>
      <div class="container">
        <div class="flex">
          <div class="header__logo">
            <h3>WordPress Theme Boilerplate</h3>
          </div>
          <div class="header__menu">
            <nav>
              <ul>
                <li>
                  <a href="">Repository</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!--header-->

    <main>
      <section>
        <div class="container">
          <div class="title">
            <h1>A simple, beautiful and minimalist WordPress Theme.</h1>
          </div>
          <!--title-->
          <div class="content">
            <div class="flex flex--center">
              <div class="content__image">
                <img src="./img/image.png" alt="Image" />
              </div>
              <div class="content__text flex flex--column flex--start">
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book.
                </p>
                <a href="">Buy me a Coffee</a>
              </div>
            </div>
          </div>
          <!--content-->
        </div>
      </section>
    </main>
    <!--main-->

    <footer>
      <div class="container">
        <div class="flex">
          <div class="footer__about">
            <nav>
              <ul>
                <li><a href="">Central de Ajuda</a></li>
                <li class="bullet"></li>
                <li><a href="">Termos de Uso</a></li>
              </ul>
            </nav>
          </div>
          <div class="footer__credits">
            <nav>
              <ul>
                <li><a href="">LinkedIn</a></li>
                <li class="bullet"></li>
                <li><a href="">GitHub</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </footer>
    <!--footer-->
  </body>
</html>
