* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fefefe;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex--center {
  justify-content: center;
}

.flex--column {
  flex-direction: column;
}

.flex--start {
  align-items: flex-start;
}
